{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock %}
{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-primary" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Indeeed</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					{% if not app.user %}
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('security_login') }}">Connexion
								<span class="sr-only">(current)</span>
							</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_logout') }}">déconnexion</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a href="/offre/add" class="nav-link">Ajouter une offre</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="row">
			{% for offre in offres %}
				<div class="col-md-4">
					<div class="card">
						<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{offre.title}}</h5>
							<p class="card-text">{{offre.ville}}</p>
							<p class="card-text">{{offre.contrat.title}}</p>
							<p class="card-text">{{offre.ContratType.title}}</p>
							<a href="/offre/{{offre.id}}" class="btn btn-primary">Voir</a>
							{% if is_granted("IS_AUTHENTICATED_FULLY") %}
								<a href="/offre/{{offre.id}}/update" class="btn btn-primary">Modifier</a>
								<a href="/offre/{{offre.id}}/delete" class="btn btn-primary">Supprimer</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% endblock %}
