{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-4">

				<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">

				<h1 class="card-title">{{offre.title}}</h1>
				<p class="card-title">{{offre.description}}</p>
				<p class="card-text">{{offre.adresse}}
					{{offre.PostalCode}}
					{{offre.ville}}</p>
				<p class="card-text">{{offre.contrat.title}}</p>
				<p class="card-text">{{offre.ContratType.title}}</p>
				<p class="card-text">Date de post :
					{{offre.CreationDate |date("d/m/Y")}}</p>
				<p class="card-text">Fin de l'offre :
					{{offre.EndMissionDate |date("d/m/Y")}}</p>
				<a href="" class="btn btn-primary">Postuler</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% endblock %}
