{% extends 'base.html.twig' %}

{% block body %}
<h1>Inscription :</h1>

{{ form_start(form) }}
{{ form_row(form.Username, {'label': 'Nom d\'utilisateur'}) }}
	{{ form_row(form.firstName, {'label': 'Prénom'}) }}
	{{ form_row(form.lastName, {'label': 'Nom'}) }} 
	{{ form_row(form.email, {'label': 'Email'}) }}
	{{ form_row(form.password, {'label': 'Mot de passe'}) }}
	{{ form_row(form.confirm_passwd, {'label': 'Confirmer le mot de passe'}) }}
	<button type="submit" class="btn btn-success"> Inscription!</button>
	{{ form_end(form) }}


{% endblock %}
